Repository chrisguidry/docketeer: changes, and which pre-commit hooks are due for each by the changed paths.
All: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

loq:
  name: loq (max 500 lines)
  entry: uv run --no-sync loq check
  language: system
  pass_filenames: false

ty:
  name: ty check
  entry: uv run --no-sync ty check
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer:
  name: pytest (docketeer)
  entry: uv run --no-sync --directory docketeer pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-agentskills:
  name: pytest (docketeer-agentskills)
  entry: uv run --no-sync --directory docketeer-agentskills pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-git:
  name: pytest (docketeer-git)
  entry: uv run --no-sync --directory docketeer-git pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-monty:
  name: pytest (docketeer-monty)
  entry: uv run --no-sync --directory docketeer-monty pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-web:
  name: pytest (docketeer-web)
  entry: uv run --no-sync --directory docketeer-web pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-rocketchat:
  name: pytest (docketeer-rocketchat)
  entry: uv run --no-sync --directory docketeer-rocketchat pytest
  language: system
  pass_filenames: false
  require_serial: true

Add docketeer-git to READMEs and document docketeer.tasks entry point
  README.md
  docketeer/README.md
Due: none

Fix docketeer-git CI by adding test API key to pytest-env
  docketeer-git/pyproject.toml
Due: none

Fix bare remote default branch in test
  docketeer-git/tests/test_backup.py
Due: loq, ty, pytest-docketeer-git

Add CommandExecutor plugin system and bubblewrap sandbox
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  README.md
  docketeer-bubblewrap/README.md
  docketeer-bubblewrap/pyproject.toml
  docketeer-bubblewrap/src/docketeer_bubblewrap/__init__.py
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_executor.py
  docketeer/README.md
  docketeer/src/docketeer/dependencies.py
  docketeer/src/docketeer/executor.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/plugins.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_dependencies.py
  docketeer/tests/test_executor.py
  docketeer/tests/test_plugins.py
  docketeer/tests/test_prompt.py
  docketeer/tests/tools/test_executor.py
  docketeer/tests/tools/test_registry.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Make network isolation best-effort in bubblewrap executor
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Temporary diagnostic test for bwrap capabilities on CI
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Enable unprivileged user namespaces in CI for bubblewrap tests
  .github/workflows/ci.yml
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Refactor CI system setup into declarative maps
  .github/workflows/ci.yml
Due: none

Move per-package CI config into pyproject.toml and the matrix
  .github/scripts/affected-packages.py
  .github/workflows/ci.yml
  docketeer-bubblewrap/pyproject.toml
Due: loq

Remove best-effort network isolation from bubblewrap executor
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Consolidate history loading onto RoomMessage and fetch_messages
  .claude/skills/dev/SKILL.md
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer/src/docketeer/brain.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_history.py
  docketeer/tests/test_room_messages.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Pass full tool docstrings to the API description field
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add docketeer-mcp package and toolshed-based runtime discovery
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docketeer-bubblewrap/src/docketeer_bubblewrap/__init__.py
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_executor.py
  docketeer-git/tests/conftest.py
  docketeer-mcp/README.md
  docketeer-mcp/pyproject.toml
  docketeer-mcp/src/docketeer_mcp/__init__.py
  docketeer-mcp/src/docketeer_mcp/config.py
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/prompt.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/src/docketeer_mcp/transport.py
  docketeer-mcp/tests/conftest.py
  docketeer-mcp/tests/test_config.py
  docketeer-mcp/tests/test_manager.py
  docketeer-mcp/tests/test_prompt.py
  docketeer-mcp/tests/test_tools.py
  docketeer-mcp/tests/test_transport.py
  docketeer/src/docketeer/toolshed.py
  docketeer/tests/conftest.py
  docketeer/tests/test_toolshed.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Catch API errors gracefully instead of crashing the agent
  docketeer/src/docketeer/audit.py
  docketeer/src/docketeer/brain.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/brain/test_error_handling.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/conftest.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/test_cycles.py
  docketeer/tests/test_tasks.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Don't mount all of ~/.local into the sandbox
  docketeer/src/docketeer/toolshed.py
  docketeer/tests/test_toolshed.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Turn brain.py into a package
  docketeer/src/docketeer/brain.py
  docketeer/src/docketeer/brain/__init__.py
  docketeer/src/docketeer/brain/compaction.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/helpers.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/conftest.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add docketeer-mcp to the publish workflow
  .github/workflows/publish.yml
Due: none

Add architecture diagram to README and list docketeer-mcp
  README.md
  docketeer/README.md
Due: none

Add component descriptions to the architecture section
  README.md
Due: none

Tweak Packages intro to encourage building your own plugins
  README.md
Due: none

Add PyPI version badges to the packages table
  README.md
Due: none

Add vault plugin system and docketeer-1password package
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  README.md
  docketeer-1password/README.md
  docketeer-1password/pyproject.toml
  docketeer-1password/src/docketeer_1password/__init__.py
  docketeer-1password/src/docketeer_1password/vault.py
  docketeer-1password/tests/__init__.py
  docketeer-1password/tests/test_init.py
  docketeer-1password/tests/test_vault.py
  docketeer/README.md
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/src/docketeer/tools/vault.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_memory_vault.py
  docketeer/tests/test_vault.py
  docketeer/tests/tools/test_executor.py
  docketeer/tests/tools/test_registry.py
  docketeer/tests/tools/test_vault.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Send intermediate text and support interruption during tool loops
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/executor.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/brain/test_brain_callbacks.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_handlers_streaming.py
  docketeer/tests/main/test_process_messages.py
  docketeer/tests/main/test_registration.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add emoji reactions and expose message IDs to the agent
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/test_react.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add thread support to the chat abstraction
  docketeer-rocketchat/src/docketeer_rocketchat/__init__.py
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_threads.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/test_threads.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Thread thread_id through scheduled tasks
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_tasks.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add agent-scheduled recurring tasks via schedule_every
  docketeer/pyproject.toml
  docketeer/src/docketeer/cycles.md
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_tasks.py
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add MCP OAuth support and make 1Password vault idempotent
  docketeer-1password/src/docketeer_1password/vault.py
  docketeer-1password/tests/test_vault.py
  docketeer-mcp/pyproject.toml
  docketeer-mcp/src/docketeer_mcp/config.py
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/oauth.py
  docketeer-mcp/src/docketeer_mcp/tasks.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_config.py
  docketeer-mcp/tests/test_oauth.py
  docketeer-mcp/tests/test_tasks.py
  docketeer-mcp/tests/test_tools.py
  docketeer-mcp/tests/test_tools_oauth.py
  docketeer-mcp/tests/test_tools_oauth_edge_cases.py
  docketeer/src/docketeer/dependencies.py
  docketeer/src/docketeer/main.py
  docketeer/tests/test_dependencies.py
  pyproject.toml
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Remove erroneous spike entry from pyproject.toml
  pyproject.toml
Due: none

Replace is_direct/list_dm_rooms with RoomKind enum and list_rooms
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_handlers_streaming.py
  docketeer/tests/main/test_history.py
  docketeer/tests/main/test_process_messages.py
  docketeer/tests/test_room_messages.py
  docketeer/tests/test_threads.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Address PR feedback: configurable username, publish infrastructure
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  docker-compose.tui.yml
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
Due: loq, ty

Use prompt_toolkit for split input/output terminal regions
  docketeer-tui/pyproject.toml
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  uv.lock
Due: loq, ty

Use raw=True in patch_stdout to preserve ANSI escape sequences
  docketeer-tui/src/docketeer_tui/client.py
Due: loq, ty

Fix TUI usability: redirect logs to file, add input prompt, make soul.md chat-agnostic
  .dockerignore
  Dockerfile
  docker-compose.tui.yml
  docketeer-tui/pyproject.toml
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/src/docketeer_tui/prompt.py
  docketeer-tui/tests/test_client.py
  docketeer-tui/tests/test_prompt.py
  docketeer/src/docketeer/soul.md
Due: loq, ty

Guard TUI prompt provider behind DOCKETEER_CHAT=tui check
  docketeer-tui/src/docketeer_tui/prompt.py
  docketeer-tui/tests/test_client.py
  docketeer-tui/tests/test_prompt.py
Due: loq, ty

Add docketeer-tui terminal chat backend
  docketeer-tui/README.md
  docketeer-tui/pyproject.toml
  docketeer-tui/src/docketeer_tui/__init__.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/__init__.py
  docketeer-tui/tests/test_client.py
  pyproject.toml
  uv.lock
Due: loq, ty

Improve TUI conversation flow with panels and proper prompt timing
  docketeer-tui/src/docketeer_tui/client.py
Due: loq, ty

Fix ANSI escape code garbling in Docker container
  docker-compose.tui.yml
  docketeer-tui/src/docketeer_tui/client.py
Due: loq, ty

Update docketeer-tui for RoomKind enum
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
Due: loq, ty

Reconnect on WebSocket disconnect with exponential backoff
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_connection.py
  docketeer-rocketchat/tests/test_messages.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/main/test_history.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Path conditions:
  loq: any of: \.py$
  ty: any of: ^docketeer.*/src/|^docketeer.*/tests/ and \.py$
  pytest-docketeer: any of: ^docketeer/ and \.py$
  pytest-docketeer-agentskills: any of: ^docketeer/src/|^docketeer-agentskills/ and \.py$
  pytest-docketeer-git: any of: ^docketeer/src/|^docketeer-git/ and \.py$
  pytest-docketeer-monty: any of: ^docketeer/src/|^docketeer-monty/ and \.py$
  pytest-docketeer-web: any of: ^docketeer/src/|^docketeer-web/ and \.py$
  pytest-docketeer-rocketchat: any of: ^docketeer/src/|^docketeer-rocketchat/ and \.py$
