Repository chrisguidry/docketeer: changes, and which pre-commit hooks are due for each by the changed paths.
All: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^\.loq_cache$
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  - repo: local
    hooks:
      - id: loq
        name: loq (max 500 lines)
        entry: uv run --no-sync loq check
        language: system
        types: [python]
        pass_filenames: false

      - id: ty
        name: ty check
        entry: uv run --no-sync ty check
        language: system
        types: [python]
        files: ^docketeer.*/src/|^docketeer.*/tests/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer
        name: pytest (docketeer)
        entry: uv run --no-sync --directory docketeer pytest
        language: system
        types: [python]
        files: ^docketeer/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-agentskills
        name: pytest (docketeer-agentskills)
        entry: uv run --no-sync --directory docketeer-agentskills pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-agentskills/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-git
        name: pytest (docketeer-git)
        entry: uv run --no-sync --directory docketeer-git pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-git/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-monty
        name: pytest (docketeer-monty)
        entry: uv run --no-sync --directory docketeer-monty pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-monty/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-web
        name: pytest (docketeer-web)
        entry: uv run --no-sync --directory docketeer-web pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-web/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-rocketchat
        name: pytest (docketeer-rocketchat)
        entry: uv run --no-sync --directory docketeer-rocketchat pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-rocketchat/
        pass_filenames: false
        require_serial: true

Handle string arguments and McpError in MCP tool calls
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_tools.py
Due: loq, ty

Namespace model env vars per backend and drop noisy stream debug log
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
Due: loq, ty

Namespace Anthropic model env vars, drop noisy stream debug log
  README.md
  docketeer-anthropic/src/docketeer_anthropic/api_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
Due: loq, ty

Add debug logging to backup task for diagnosing silent completions
  docketeer-git/src/docketeer_git/backup.py
Due: loq, ty, pytest-docketeer-git

Temporarily bump backup diagnostics to INFO level
  docketeer-git/src/docketeer_git/backup.py
Due: loq, ty, pytest-docketeer-git

Add stderr print to backup body for diagnosis
  docketeer-git/src/docketeer_git/backup.py
Due: loq, ty, pytest-docketeer-git

Fix CurrentInferenceBackend passing executor=None
  docketeer-git/src/docketeer_git/backup.py
  docketeer/src/docketeer/dependencies.py
  docketeer/tests/test_dependencies.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Clean up debug logging from backup, clamp mcp.server.lowlevel to INFO
  docketeer-git/src/docketeer_git/backup.py
  docketeer/src/docketeer/logging.py
  docketeer/tests/test_logging.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Inject conversation digest into reverie cycle
  docketeer-tui/tests/test_prompt.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/digest.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/test_cycles.py
  docketeer/tests/test_digest.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add SearchCatalog for named indices and semantic MCP tool search
  docketeer-mcp/src/docketeer_mcp/config.py
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/conftest.py
  docketeer-mcp/tests/test_config.py
  docketeer-mcp/tests/test_manager.py
  docketeer-mcp/tests/test_tools.py
  docketeer-search/pyproject.toml
  docketeer-search/src/docketeer_search/__init__.py
  docketeer-search/src/docketeer_search/cli.py
  docketeer-search/src/docketeer_search/index.py
  docketeer-search/src/docketeer_search/tasks.py
  docketeer-search/src/docketeer_search/tools.py
  docketeer-search/tests/test_cli.py
  docketeer-search/tests/test_index.py
  docketeer-search/tests/test_init.py
  docketeer-search/tests/test_tasks.py
  docketeer-search/tests/test_tools.py
  docketeer/src/docketeer/dependencies.py
  docketeer/src/docketeer/search.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/test_search.py
  docketeer/tests/tools/test_file_ops.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Reshape search index tasks and align search result formatting
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_manager.py
  docketeer-mcp/tests/test_tools.py
  docketeer-search/src/docketeer_search/index.py
  docketeer-search/src/docketeer_search/tasks.py
  docketeer-search/tests/test_index.py
  docketeer-search/tests/test_tasks.py
  docketeer/src/docketeer/logging.py
  docketeer/src/docketeer/search.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/test_logging.py
  docketeer/tests/test_search.py
  docketeer/tests/tools/test_file_ops.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Update READMEs for current env vars, tools, and architecture
  README.md
  docketeer-anthropic/README.md
  docketeer-deepinfra/README.md
  docketeer-git/README.md
  docketeer-mcp/README.md
  docketeer-search/README.md
  docketeer-tui/README.md
  docketeer/README.md
Due: none

Note claude-code backend requires claude CLI and setup-token
  docketeer-anthropic/README.md
Due: none

Add docketeer-subprocess executor and fix TUI startup log noise
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docketeer-subprocess/CLAUDE.md
  docketeer-subprocess/README.md
  docketeer-subprocess/pyproject.toml
  docketeer-subprocess/src/docketeer_subprocess/__init__.py
  docketeer-subprocess/src/docketeer_subprocess/executor.py
  docketeer-subprocess/src/docketeer_subprocess/mcp_bridge.py
  docketeer-subprocess/tests/__init__.py
  docketeer-subprocess/tests/test_executor.py
  docketeer-subprocess/tests/test_mcp_bridge.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/executor.py
  docketeer/src/docketeer/logging.py
  docketeer/src/docketeer/main.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_run.py
  docketeer/tests/test_logging.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Flush audit logs on write, fix env schema for vault secret refs
  docketeer/src/docketeer/audit.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Rename Brain's room_id to line, split ToolContext for chat vs conversation
  docketeer-agentskills/tests/conftest.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/tests/test_agentic_loop.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-autonomy/src/docketeer_autonomy/context.py
  docketeer-autonomy/src/docketeer_autonomy/cycles.py
  docketeer-autonomy/src/docketeer_autonomy/lines.py
  docketeer-autonomy/src/docketeer_autonomy/practice.md
  docketeer-autonomy/tests/conftest.py
  docketeer-autonomy/tests/test_context.py
  docketeer-autonomy/tests/test_cycles.py
  docketeer-autonomy/tests/test_lines.py
  docketeer-autonomy/tests/test_rooms.py
  docketeer-mcp/tests/conftest.py
  docketeer-monty/tests/conftest.py
  docketeer-rocketchat/src/docketeer_rocketchat/__init__.py
  docketeer-rocketchat/tests/conftest.py
  docketeer-web/tests/conftest.py
  docketeer/src/docketeer/brain/compaction.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/scheduling.py
  docketeer/src/docketeer/tasks.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/watcher.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_context_providers.py
  docketeer/tests/brain/test_error_handling.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/conftest.py
  docketeer/tests/test_cross_room_messages.py
  docketeer/tests/test_react.py
  docketeer/tests/test_room_messages.py
  docketeer/tests/test_tasks.py
  docketeer/tests/test_threads.py
  docketeer/tests/test_wrap_up.py
  docketeer/tests/tools/test_vault.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix run-tests pycache conflicts by targeting root tests/ explicitly
  run-tests
Due: none

Add antenna system for realtime event feeds
  .pre-commit-config.yaml
  README.md
  docketeer-atproto/CLAUDE.md
  docketeer-atproto/README.md
  docketeer-atproto/pyproject.toml
  docketeer-atproto/src/docketeer_atproto/__init__.py
  docketeer-atproto/src/docketeer_atproto/band.py
  docketeer-atproto/tests/__init__.py
  docketeer-atproto/tests/test_band.py
  docketeer-wicket/CLAUDE.md
  docketeer-wicket/README.md
  docketeer-wicket/pyproject.toml
  docketeer-wicket/src/docketeer_wicket/__init__.py
  docketeer-wicket/src/docketeer_wicket/band.py
  docketeer-wicket/tests/__init__.py
  docketeer-wicket/tests/test_band.py
  docketeer/AGENTS.md
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/antenna/__init__.py
  docketeer/tests/antenna/test_antenna.py
  docketeer/tests/antenna/test_filters.py
  docketeer/tests/antenna/test_signal_loop.py
  docketeer/tests/brain/test_helpers.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add core system prompt for lines/scheduling, clean up autonomy duplication
  docketeer-autonomy/src/docketeer_autonomy/cycles.py
  docketeer-autonomy/src/docketeer_autonomy/practice.md
  docketeer/pyproject.toml
  docketeer/src/docketeer/core_prompt.md
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/tests/test_prompt.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add Antenna orchestrator, tools, and wire into main
  README.md
  docketeer/AGENTS.md
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/antenna_tools.py
  docketeer/src/docketeer/core_prompt.md
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/scheduling.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/antenna/test_orchestrator.py
  docketeer/tests/antenna/test_tools.py
  docketeer/tests/main/test_scheduling_tools.py
  docketeer/tests/test_tasks.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Harden the antenna system after first real-world testing
  docketeer-atproto/CLAUDE.md
  docketeer-atproto/README.md
  docketeer-atproto/src/docketeer_atproto/band.py
  docketeer-atproto/tests/test_band.py
  docketeer-autonomy/src/docketeer_autonomy/cycles.py
  docketeer-wicket/CLAUDE.md
  docketeer-wicket/README.md
  docketeer-wicket/src/docketeer_wicket/band.py
  docketeer-wicket/tests/test_band.py
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/antenna_tools.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/core_prompt.md
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/tasks.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/antenna/test_antenna.py
  docketeer/tests/antenna/test_filters.py
  docketeer/tests/antenna/test_orchestrator.py
  docketeer/tests/antenna/test_signal_loop.py
  docketeer/tests/antenna/test_tools.py
  docketeer/tests/brain/test_build_content.py
  docketeer/tests/brain/test_context_providers.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/test_tasks.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix onboarding friction and Anthropic API errors
  docketeer-anthropic/src/docketeer_anthropic/api_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_api_backend.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-anthropic/tests/test_stream_message.py
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
  docketeer-deepinfra/tests/test_api_backend.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-subprocess/src/docketeer_subprocess/executor.py
  docketeer-subprocess/tests/test_executor.py
  docketeer/src/docketeer/antenna_tools.py
  docketeer/src/docketeer/brain/backend.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/executor.py
  docketeer/src/docketeer/logging.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/plugins.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/tests/test_plugins.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Bump pydantic-monty to >=0.0.7
  docketeer-monty/pyproject.toml
  uv.lock
Due: none

Tell the agent that run_python is code mode
  docketeer-monty/src/docketeer_monty/tools.py
Due: loq, ty, pytest-docketeer-monty

Fix run_python stdlib list — json/datetime/dataclasses aren't available yet
  docketeer-monty/src/docketeer_monty/tools.py
Due: loq, ty, pytest-docketeer-monty

Inject tool signatures into run_python description lazily
  docketeer-autonomy/tests/conftest.py
  docketeer-monty/src/docketeer_monty/tools.py
  docketeer-monty/tests/conftest.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/conftest.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Remove signal payload truncation from format_signal
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/antenna/test_signal_loop.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add per-tuning signal log for antenna observability
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/antenna/test_signal_loop.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add docketeer-imap band and refactor antenna secrets to dict
  .pre-commit-config.yaml
  README.md
  docketeer-atproto/src/docketeer_atproto/band.py
  docketeer-imap/CLAUDE.md
  docketeer-imap/README.md
  docketeer-imap/pyproject.toml
  docketeer-imap/src/docketeer_imap/__init__.py
  docketeer-imap/src/docketeer_imap/band.py
  docketeer-imap/src/docketeer_imap/parsing.py
  docketeer-imap/tests/__init__.py
  docketeer-imap/tests/test_band.py
  docketeer-imap/tests/test_parsing.py
  docketeer-wicket/src/docketeer_wicket/band.py
  docketeer-wicket/tests/test_band.py
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/antenna_tools.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/antenna/test_antenna.py
  docketeer/tests/antenna/test_orchestrator.py
  docketeer/tests/antenna/test_signal_loop.py
  docketeer/tests/antenna/test_tools.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Use BODY.PEEK[] instead of RFC822 in IMAP fetch
  docketeer-imap/src/docketeer_imap/band.py
Due: loq, ty

feat: add docketeer-slack chat backend scaffold
  docketeer-slack/README.md
  docketeer-slack/pyproject.toml
  docketeer-slack/src/docketeer_slack/__init__.py
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/src/docketeer_slack/parsing.py
  docketeer-slack/tests/conftest.py
  docketeer-slack/tests/test_connection.py
  docketeer-slack/tests/test_edge_branches.py
  docketeer-slack/tests/test_messages.py
  docketeer-slack/tests/test_more_coverage.py
  docketeer-slack/tests/test_parsing.py
  docketeer-slack/tests/test_reconnect.py
  docketeer-slack/tests/test_rest.py
  docketeer-slack/tests/test_room_context.py
  docketeer-slack/tests/test_tools.py
  pyproject.toml
  uv.lock
Due: loq, ty

feat: add Slack thread status hooks
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/test_room_context.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/main/test_handlers.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

chore: fix slack workspace sync checks
  .pre-commit-config.yaml
  README.md
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/test_connection.py
  docketeer-slack/tests/test_edge_branches.py
  docketeer-slack/tests/test_messages.py
  docketeer-slack/tests/test_more_coverage.py
  docketeer-slack/tests/test_reconnect.py
  docketeer-slack/tests/test_rest.py
  docketeer-slack/tests/test_room_context.py
  docketeer/tests/main/test_handlers.py
Due: loq, ty, pytest-docketeer

chore: satisfy slack prek checks
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/test_edge_branches.py
  docketeer-slack/tests/test_reconnect.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_handlers_thread_status.py
Due: loq, ty, pytest-docketeer

feat: stream Slack replies natively
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_stream_message.py
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/conftest.py
  docketeer-slack/tests/test_rest.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/tests/main/test_handlers_streaming.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

chore: fix streaming CI checks
  docketeer-anthropic/tests/test_stream_message.py
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/src/docketeer_slack/interactions.py
  docketeer-slack/src/docketeer_slack/room_context.py
  docketeer-slack/tests/test_rest.py
  docketeer/tests/brain/test_brain_callbacks.py
  docketeer/tests/main/test_handlers_streaming.py
Due: loq, ty, pytest-docketeer

test: close streaming coverage gaps
  docketeer/tests/main/test_handlers_streaming.py
  docketeer/tests/main/test_handlers_thread_status.py
Due: loq, ty, pytest-docketeer

test: cover streamed append path
  docketeer/tests/main/test_handlers_streaming.py
Due: loq, ty, pytest-docketeer
