Repository chrisguidry/docketeer: changes, and which pre-commit hooks are due for each by the changed paths.
All: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

loq:
  name: loq (max 500 lines)
  entry: uv run --no-sync loq check
  language: system
  pass_filenames: false

ty:
  name: ty check
  entry: uv run --no-sync ty check
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer:
  name: pytest (docketeer)
  entry: uv run --no-sync --directory docketeer pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-agentskills:
  name: pytest (docketeer-agentskills)
  entry: uv run --no-sync --directory docketeer-agentskills pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-git:
  name: pytest (docketeer-git)
  entry: uv run --no-sync --directory docketeer-git pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-monty:
  name: pytest (docketeer-monty)
  entry: uv run --no-sync --directory docketeer-monty pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-web:
  name: pytest (docketeer-web)
  entry: uv run --no-sync --directory docketeer-web pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-rocketchat:
  name: pytest (docketeer-rocketchat)
  entry: uv run --no-sync --directory docketeer-rocketchat pytest
  language: system
  pass_filenames: false
  require_serial: true

Guard room_messages against empty room_id during internal cycles
  docketeer/src/docketeer/main.py
  docketeer/tests/test_room_messages.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Token usage timeseries, model tier defaults, and per-model output limits
  docketeer/src/docketeer/audit.py
  docketeer/src/docketeer/brain/__init__.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/environment.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_error_handling.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/brain/test_model_tiers.py
  docketeer/tests/conftest.py
  docketeer/tests/test_cycles.py
  docketeer/tests/test_model_threading.py
  docketeer/tests/test_prompt.py
  docketeer/tests/test_usage_tracking.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

InferenceModel: consolidate scattered model config, put chat back on opus
  docketeer/src/docketeer/brain/__init__.py
  docketeer/src/docketeer/brain/compaction.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/helpers.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/tests/brain/test_model_tiers.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add run-tests script, 1s test timeout, and fix slow rocketchat tests
  .gitignore
  docketeer-1password/pyproject.toml
  docketeer-1password/src/docketeer_1password/vault.py
  docketeer-1password/tests/test_vault.py
  docketeer-agentskills/pyproject.toml
  docketeer-bubblewrap/pyproject.toml
  docketeer-git/pyproject.toml
  docketeer-mcp/pyproject.toml
  docketeer-monty/pyproject.toml
  docketeer-rocketchat/pyproject.toml
  docketeer-rocketchat/tests/test_messages.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer-tui/pyproject.toml
  docketeer-web/pyproject.toml
  docketeer/pyproject.toml
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/vault.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/test_memory_vault.py
  docketeer/tests/tools/test_vault.py
  pyproject.toml
  run-tests
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Extract InferenceBackend abstraction from Brain
  docketeer/pyproject.toml
  docketeer/src/docketeer/brain/__init__.py
  docketeer/src/docketeer/brain/anthropic_backend.py
  docketeer/src/docketeer/brain/backend.py
  docketeer/src/docketeer/brain/compaction.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/helpers.py
  docketeer/tests/brain/test_backend.py
  docketeer/tests/brain/test_error_handling.py
  docketeer/tests/conftest.py
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Split SOUL.md into identity (SOUL.md) and operational guidance (PRACTICE.md)
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/cycles.md
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/soul.md
  docketeer/tests/brain/test_brain.py
  docketeer/tests/test_cycles.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Frame the Docket as the agent's reliable TODO list in PRACTICE.md
  docketeer/src/docketeer/practice.md
Due: none

ClaudeCodeBackend: drive `claude -p` via bwrap
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/core.py
  docketeer/tests/brain/test_backend.py
  docketeer/tests/brain/test_claude_code_backend.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Expose docketeer tools to guest Claude Code via MCP socket
  docketeer/pyproject.toml
  docketeer/src/docketeer/brain/backend.py
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/mcp_server.py
  docketeer/src/docketeer/brain/mcp_transport.py
  docketeer/src/docketeer/main.py
  docketeer/tests/brain/test_backend.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_bwrap_command.py
  docketeer/tests/brain/test_claude_code_backend.py
  docketeer/tests/brain/test_claude_code_output.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/brain/test_invoke_claude.py
  docketeer/tests/brain/test_mcp_server.py
  docketeer/tests/brain/test_mcp_transport.py
  docketeer/tests/conftest.py
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Replace connect/close lifecycle methods with context managers
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/src/docketeer_rocketchat/ddp.py
  docketeer-rocketchat/tests/test_connection.py
  docketeer-rocketchat/tests/test_ddp.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/mcp_transport.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/brain/test_mcp_transport.py
  docketeer/tests/main/conftest.py
  docketeer/tests/main/test_registration.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Separate assistant turns with blank lines in CC backend output
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/tests/brain/test_claude_code_output.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Record token usage from CC backend's stream-json result events
  docketeer/src/docketeer/audit.py
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/tests/brain/test_claude_code_backend.py
  docketeer/tests/brain/test_claude_code_output.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/brain/test_invoke_claude.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Stream partial messages and pre-assign session IDs in CC backend
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/claude_code_bwrap.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/tests/brain/test_agentic_loop.py
  docketeer/tests/brain/test_bwrap_command.py
  docketeer/tests/brain/test_claude_code_backend.py
  docketeer/tests/brain/test_claude_code_output.py
  docketeer/tests/brain/test_invoke_claude.py
  docketeer/tests/brain/test_stream_response.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Per-tool emoji reactions on messages
  docketeer-agentskills/src/docketeer_agentskills/tools.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-monty/src/docketeer_monty/tools.py
  docketeer-rocketchat/src/docketeer_rocketchat/__init__.py
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-web/src/docketeer_web/tools.py
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/src/docketeer/tools/journal.py
  docketeer/src/docketeer/tools/vault.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/brain/test_agentic_loop.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_stream_response.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Move Claude Code invocation to the Executor interface
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/src/docketeer_bubblewrap/mcp_bridge.py
  docketeer-bubblewrap/tests/test_executor.py
  docketeer-bubblewrap/tests/test_mcp_bridge.py
  docketeer/src/docketeer/brain/claude_code_backend.py
  docketeer/src/docketeer/brain/claude_code_bwrap.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/mcp_transport.py
  docketeer/src/docketeer/executor.py
  docketeer/tests/brain/test_agentic_loop.py
  docketeer/tests/brain/test_backend.py
  docketeer/tests/brain/test_bwrap_command.py
  docketeer/tests/brain/test_claude_code_backend.py
  docketeer/tests/brain/test_claude_code_output.py
  docketeer/tests/brain/test_invoke_claude.py
  docketeer/tests/brain/test_mcp_transport.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Assorted fixes from TUI testing
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_executor.py
  docketeer-tui/pyproject.toml
  docketeer-tui/src/docketeer_tui/client.py
  docketeer/src/docketeer/brain/mcp_transport.py
  docketeer/src/docketeer/handlers.py
  docketeer/tests/brain/test_mcp_transport.py
  docketeer/tests/main/test_handlers.py
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Suppress intermediate narration from tool rounds
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/tests/brain/test_stream_response.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Also suppress text-only turns that precede tool rounds
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/tests/brain/test_stream_response.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Robustness and correctness fixes from a code review pass
  docketeer-rocketchat/src/docketeer_rocketchat/ddp.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/tasks.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/src/docketeer/tools/vault.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/brain/test_claude_code_output.py
  docketeer/tests/main/test_cycles.py
  docketeer/tests/tools/test_executor.py
  docketeer/tests/tools/test_file_ops.py
  docketeer/tests/tools/test_vault.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Use system timezone for cron schedules instead of UTC
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/environment.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/main/test_cycles.py
  docketeer/tests/test_tasks.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Move room context to ChatClient, stop suppressing tool-round text
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/src/docketeer_rocketchat/parsing.py
  docketeer-rocketchat/src/docketeer_rocketchat/room_context.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer-rocketchat/tests/test_room_context.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/people.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/brain/test_stream_response.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/main/test_history.py
  docketeer/tests/test_people.py
  docketeer/tests/test_prompt.py
  docketeer/tests/tools/test_file_ops.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Show message time deltas instead of absolute timestamps
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/main/test_handlers.py
  docketeer/tests/test_prompt.py
  docketeer/tests/test_threads.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Switch to Sonnet 4.6 for chat and reverie
  docketeer/pyproject.toml
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/practice.md
  docketeer/tests/brain/test_model_tiers.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Vault-injectable env vars and suppress tool-round narration
  docketeer-mcp/src/docketeer_mcp/config.py
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_config.py
  docketeer-mcp/tests/test_manager.py
  docketeer-mcp/tests/test_tools.py
  docketeer/src/docketeer/brain/claude_code_output.py
  docketeer/src/docketeer/brain/loop.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/brain/test_brain_callbacks.py
  docketeer/tests/brain/test_stream_response.py
  docketeer/tests/main/test_handlers_streaming.py
  docketeer/tests/test_memory_vault.py
  docketeer/tests/tools/test_executor.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Persistent home dirs for sandboxed MCP servers
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/tests/test_manager.py
  docketeer/src/docketeer/executor.py
  docketeer/tests/test_executor.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Bump fastmcp to 3.0.0rc2
  docketeer-mcp/pyproject.toml
  uv.lock
Due: none

Bump pydocket to 0.17.8
  docketeer/pyproject.toml
  uv.lock
Due: none

Remove unnecessary ANTHROPIC env vars from plugin packages
  docketeer-agentskills/pyproject.toml
  docketeer-git/pyproject.toml
  docketeer-mcp/pyproject.toml
  docketeer-rocketchat/pyproject.toml
  docketeer-tui/pyproject.toml
  docketeer-web/pyproject.toml
  docketeer/pyproject.toml
  docketeer/tests/brain/test_model_tiers.py
Due: loq, ty, pytest-docketeer

Fix author name in docketeer-tui pyproject.toml
  docketeer-tui/pyproject.toml
Due: none

Add docketeer-deepinfra backend plugin and refactor to tier-based model resolution
  docketeer-anthropic/src/docketeer_anthropic/__init__.py
  docketeer-anthropic/src/docketeer_anthropic/api_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/tests/test_agentic_loop.py
  docketeer-anthropic/tests/test_api_backend.py
  docketeer-anthropic/tests/test_backend.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-deepinfra/README.md
  docketeer-deepinfra/pyproject.toml
  docketeer-deepinfra/src/docketeer_deepinfra/__init__.py
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_api_backend.py
  docketeer-deepinfra/tests/test_init.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer-deepinfra/tests/test_loop_build.py
  docketeer-deepinfra/tests/test_loop_callbacks.py
  docketeer-deepinfra/tests/test_loop_execute.py
  docketeer-deepinfra/tests/test_loop_serialize.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer/src/docketeer/brain/__init__.py
  docketeer/src/docketeer/brain/backend.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/prompt.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_model_tiers.py
  docketeer/tests/test_prompt.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix DeepInfra context overflow and RC 8.1.1 DDP auth breakage
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_api_backend.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/src/docketeer_rocketchat/ddp.py
  docketeer-rocketchat/tests/test_connection.py
  docketeer-rocketchat/tests/test_ddp.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/testing.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix inference plugin test when multiple backends are installed
  docketeer/tests/brain/test_brain.py
Due: loq, ty, pytest-docketeer

Derive CI package lists from pyproject.toml workspace members
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
Due: none

Switch nudge tasks from inline prompts to prompt files
  docketeer-agentskills/src/docketeer_agentskills/tools.py
  docketeer-rocketchat/src/docketeer_rocketchat/__init__.py
  docketeer-web/src/docketeer_web/tools.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/tasks.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/conftest.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_model_threading.py
  docketeer/tests/test_nudge_security.py
  docketeer/tests/test_tasks.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Track cache tokens in DeepInfra usage logging
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-deepinfra/tests/test_loop_usage.py
  loq.toml
Due: loq, ty

Add message logging and profile loading to brain
  docketeer/src/docketeer/brain/core.py
  docketeer/tests/brain/test_logging.py
  docketeer/tests/brain/test_profile_loading.py
  loq.toml
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add configurable logging with verbose package suppression
  docketeer/src/docketeer/environment.py
  docketeer/src/docketeer/logging.py
  docketeer/src/docketeer/main.py
  docketeer/tests/test_logging.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add AGENTS.md files for each workspace package
  AGENTS.md
  CLAUDE.md
  docketeer-1password/AGENTS.md
  docketeer-1password/CLAUDE.md
  docketeer-agentskills/AGENTS.md
  docketeer-agentskills/CLAUDE.md
  docketeer-anthropic/AGENTS.md
  docketeer-anthropic/CLAUDE.md
  docketeer-bubblewrap/AGENTS.md
  docketeer-bubblewrap/CLAUDE.md
  docketeer-deepinfra/AGENTS.md
  docketeer-deepinfra/CLAUDE.md
  docketeer-git/AGENTS.md
  docketeer-git/CLAUDE.md
  docketeer-mcp/AGENTS.md
  docketeer-mcp/CLAUDE.md
  docketeer-monty/AGENTS.md
  docketeer-monty/CLAUDE.md
  docketeer-rocketchat/AGENTS.md
  docketeer-rocketchat/CLAUDE.md
  docketeer-tui/AGENTS.md
  docketeer-tui/CLAUDE.md
  docketeer-web/AGENTS.md
  docketeer-web/CLAUDE.md
  docketeer/AGENTS.md
  docketeer/CLAUDE.md
Due: none

Add test cleanup plans and tighten AGENTS.md testing guidance
  AGENTS.md
  PLAN-1password-tests.md
  PLAN-anthropic-tests.md
  PLAN-deepinfra-tests.md
  PLAN-mcp-tests.md
  PLAN-rocketchat-tests.md
  docketeer-anthropic/AGENTS.md
  docketeer-deepinfra/AGENTS.md
  docketeer-mcp/AGENTS.md
Due: none

Path conditions:
  loq: any of: \.py$
  ty: any of: ^docketeer.*/src/|^docketeer.*/tests/ and \.py$
  pytest-docketeer: any of: ^docketeer/ and \.py$
  pytest-docketeer-agentskills: any of: ^docketeer/src/|^docketeer-agentskills/ and \.py$
  pytest-docketeer-git: any of: ^docketeer/src/|^docketeer-git/ and \.py$
  pytest-docketeer-monty: any of: ^docketeer/src/|^docketeer-monty/ and \.py$
  pytest-docketeer-web: any of: ^docketeer/src/|^docketeer-web/ and \.py$
  pytest-docketeer-rocketchat: any of: ^docketeer/src/|^docketeer-rocketchat/ and \.py$
