Repository chrisguidry/docketeer: changes, and which pre-commit hooks are due for each by the changed paths.
All: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

loq:
  name: loq (max 500 lines)
  entry: uv run --no-sync loq check
  language: system
  pass_filenames: false

ty:
  name: ty check
  entry: uv run --no-sync ty check
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer:
  name: pytest (docketeer)
  entry: uv run --no-sync --directory docketeer pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-agentskills:
  name: pytest (docketeer-agentskills)
  entry: uv run --no-sync --directory docketeer-agentskills pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-git:
  name: pytest (docketeer-git)
  entry: uv run --no-sync --directory docketeer-git pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-monty:
  name: pytest (docketeer-monty)
  entry: uv run --no-sync --directory docketeer-monty pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-web:
  name: pytest (docketeer-web)
  entry: uv run --no-sync --directory docketeer-web pytest
  language: system
  pass_filenames: false
  require_serial: true

pytest-docketeer-rocketchat:
  name: pytest (docketeer-rocketchat)
  entry: uv run --no-sync --directory docketeer-rocketchat pytest
  language: system
  pass_filenames: false
  require_serial: true

Stream text to all inference backends and the TUI
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
  docketeer-anthropic/tests/test_stream_response.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  uv.lock
Due: loq, ty

Bump pydocket to 0.18.2
  docketeer/pyproject.toml
  uv.lock
Due: none

chore: add discover_explicit for vault plugin
  docketeer/AGENTS.md
  docketeer/src/docketeer/plugins.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_plugins.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

update confest
  tests/conftest.py
Due: loq

fix(slack): include recipient user in reply streams
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/test_rest.py
Due: loq, ty

fix(slack): include recipient user in reply streams (#21)
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/tests/test_rest.py
Due: loq, ty

Rename vault entry point from onepassword to 1password
  docketeer-1password/pyproject.toml
Due: none

Add sequential migration framework and band logging
  docketeer-imap/src/docketeer_imap/band.py
  docketeer-wicket/src/docketeer_wicket/band.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/migrations/001_backstage_to_workspace.py
  docketeer/src/docketeer/migrations/__init__.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/test_migration.py
  docketeer/tests/test_migration_001.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Read line files as system context during signal delivery
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/antenna/test_signal_loop.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Inject line context into tasks and update README
  README.md
  docketeer/src/docketeer/hooks.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/antenna/test_signal_loop.py
  docketeer/tests/test_hooks.py
  docketeer/tests/test_tasks.py
  docketeer/tests/test_tasks_recurring.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix pipe deadlock in git backup subprocess handling
  docketeer-git/src/docketeer_git/backup.py
  docketeer-git/tests/test_backup.py
Due: loq, ty, pytest-docketeer-git

Add 60-second timeout to git backup task
  docketeer-git/src/docketeer_git/backup.py
Due: loq, ty, pytest-docketeer-git

Flatten signal logs and add migration to fix existing dirs
  docketeer/src/docketeer/migrations/002_flatten_signal_logs.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/watcher.py
  docketeer/tests/antenna/test_signal_loop.py
  docketeer/tests/test_migration_002.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add signal log retention with daily cleanup task
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/antenna/test_antenna.py
  docketeer/tests/antenna/test_cull_signal_logs.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add reaction passthrough, fix Slack threading, and record outbound messages
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_threads.py
  docketeer-slack/README.md
  docketeer-slack/src/docketeer_slack/client.py
  docketeer-slack/src/docketeer_slack/interactions.py
  docketeer-slack/src/docketeer_slack/parsing.py
  docketeer-slack/tests/test_interactions.py
  docketeer-slack/tests/test_messages.py
  docketeer-slack/tests/test_parsing.py
  docketeer-slack/tests/test_reconnect.py
  docketeer-slack/tests/test_rest.py
  docketeer-slack/tests/test_room_context.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/main/test_handlers_reactions.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Switch atproto default relay to jetstream.waow.tech
  docketeer-atproto/README.md
  docketeer-atproto/src/docketeer_atproto/band.py
  docketeer-atproto/tests/test_band.py
Due: loq, ty

Exclude tuning cursor files from workspace watcher
  docketeer/src/docketeer/watcher.py
  docketeer/tests/test_watcher.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Filter noisy mail infrastructure headers from IMAP signals
  docketeer-imap/README.md
  docketeer-imap/src/docketeer_imap/parsing.py
  docketeer-imap/tests/test_parsing.py
Due: loq, ty

Use html2text for IMAP HTML-to-markdown conversion
  docketeer-imap/README.md
  docketeer-imap/pyproject.toml
  docketeer-imap/src/docketeer_imap/parsing.py
  docketeer-imap/tests/test_parsing.py
  uv.lock
Due: loq, ty

Thread images from signals through to inference backends
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-anthropic/tests/test_claude_code_output.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_serialize.py
  docketeer-imap/src/docketeer_imap/band.py
  docketeer-imap/src/docketeer_imap/parsing.py
  docketeer-imap/tests/helpers.py
  docketeer-imap/tests/test_band.py
  docketeer-imap/tests/test_parsing.py
  docketeer/src/docketeer/antenna.py
  docketeer/src/docketeer/signal_loop.py
  docketeer/tests/antenna/test_signal_loop.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Pass images inline via stream-json input instead of temp files
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
  docketeer-anthropic/tests/test_agentic_loop.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-anthropic/tests/test_claude_code_output.py
  docketeer-anthropic/tests/test_invoke_claude.py
Due: loq, ty

Fix wrap_up_silently in CC backend and stop dropping tool-turn text
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_agentic_loop.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-anthropic/tests/test_loop_agentic.py
  docketeer-anthropic/tests/test_stream_response.py
  docketeer-autonomy/src/docketeer_autonomy/practice.md
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tools.py
  docketeer/tests/test_wrap_up.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Discover npm global prefix so bubblewrap exposes globally-installed packages
  docketeer/src/docketeer/toolshed.py
  docketeer/tests/test_toolshed.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fall back to `npm config get prefix` for npm global prefix discovery
  docketeer/src/docketeer/toolshed.py
  docketeer/tests/test_toolshed.py
  docketeer/tests/test_toolshed_node.py
  docketeer/tests/test_toolshed_python.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Handle system-installed node and mock prefix command in tests
  docketeer/src/docketeer/toolshed.py
  docketeer/tests/test_toolshed.py
  docketeer/tests/test_toolshed_node.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Mock _run_prefix_command in bubblewrap's test_create_executor
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Fix mount order so toolshed paths aren't hidden by the HOME tmpfs
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
Due: loq, ty

Always pass --system-prompt and --model on --resume
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/tests/test_invoke_claude.py
Due: loq, ty

Path conditions:
  loq: any of: \.py$
  ty: any of: ^docketeer.*/src/|^docketeer.*/tests/ and \.py$
  pytest-docketeer: any of: ^docketeer/ and \.py$
  pytest-docketeer-agentskills: any of: ^docketeer/src/|^docketeer-agentskills/ and \.py$
  pytest-docketeer-git: any of: ^docketeer/src/|^docketeer-git/ and \.py$
  pytest-docketeer-monty: any of: ^docketeer/src/|^docketeer-monty/ and \.py$
  pytest-docketeer-web: any of: ^docketeer/src/|^docketeer-web/ and \.py$
  pytest-docketeer-rocketchat: any of: ^docketeer/src/|^docketeer-rocketchat/ and \.py$
