Repository chrisguidry/docketeer: changes, and which pre-commit hooks are due for each by the changed paths.
All: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^\.loq_cache$
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  - repo: local
    hooks:
      - id: loq
        name: loq (max 500 lines)
        entry: uv run --no-sync loq check
        language: system
        types: [python]
        pass_filenames: false

      - id: ty
        name: ty check
        entry: uv run --no-sync ty check
        language: system
        types: [python]
        files: ^docketeer.*/src/|^docketeer.*/tests/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer
        name: pytest (docketeer)
        entry: uv run --no-sync --directory docketeer pytest
        language: system
        types: [python]
        files: ^docketeer/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-agentskills
        name: pytest (docketeer-agentskills)
        entry: uv run --no-sync --directory docketeer-agentskills pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-agentskills/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-git
        name: pytest (docketeer-git)
        entry: uv run --no-sync --directory docketeer-git pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-git/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-monty
        name: pytest (docketeer-monty)
        entry: uv run --no-sync --directory docketeer-monty pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-monty/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-web
        name: pytest (docketeer-web)
        entry: uv run --no-sync --directory docketeer-web pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-web/
        pass_filenames: false
        require_serial: true

      - id: pytest-docketeer-rocketchat
        name: pytest (docketeer-rocketchat)
        entry: uv run --no-sync --directory docketeer-rocketchat pytest
        language: system
        types: [python]
        files: ^docketeer/src/|^docketeer-rocketchat/
        pass_filenames: false
        require_serial: true

Deduplicate docketeer-mcp test fixtures
  PLAN-mcp-tests.md
  docketeer-mcp/tests/conftest.py
  docketeer-mcp/tests/test_config.py
  docketeer-mcp/tests/test_oauth.py
  docketeer-mcp/tests/test_prompt.py
  docketeer-mcp/tests/test_tools.py
  docketeer-mcp/tests/test_tools_oauth.py
  docketeer-mcp/tests/test_tools_oauth_edge_cases.py
Due: loq, ty

Clean up deepinfra and rocketchat test fixtures, warn against uv run
  AGENTS.md
  docketeer-deepinfra/tests/conftest.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-rocketchat/tests/test_reconnect.py
Due: loq, ty, pytest-docketeer-rocketchat

Remove completed plan file
  PLAN-rocketchat-tests.md
Due: none

Clean up 1password test suite with OpCLI fixture
  docketeer-1password/tests/conftest.py
  docketeer-1password/tests/test_vault.py
Due: loq, ty

Deduplicate anthropic test helpers into conftest
  docketeer-anthropic/tests/conftest.py
  docketeer-anthropic/tests/test_api_backend.py
  docketeer-anthropic/tests/test_build_reply.py
  docketeer-anthropic/tests/test_execute_tools.py
  docketeer-anthropic/tests/test_loop_agentic.py
  docketeer-anthropic/tests/test_stream_message.py
Due: loq, ty

Deduplicate deepinfra test helpers into conftest
  docketeer-deepinfra/tests/conftest.py
  docketeer-deepinfra/tests/test_api_backend.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer-deepinfra/tests/test_loop_build.py
  docketeer-deepinfra/tests/test_loop_callbacks.py
  docketeer-deepinfra/tests/test_loop_execute.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-deepinfra/tests/test_loop_usage.py
Due: loq, ty

Remove completed plan files
  PLAN-1password-tests.md
  PLAN-anthropic-tests.md
  PLAN-deepinfra-tests.md
Due: none

Fix compaction retry using stale message list
  docketeer/src/docketeer/brain/core.py
  docketeer/tests/brain/test_error_handling.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add wrap_up_silently tool for suppressing text responses
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_loop_agentic.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/tools/__init__.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/test_wrap_up.py
  docketeer/tests/tools/test_registry.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Elevate universal guidance from AGENTS.md to global config
  AGENTS.md
Due: none

Add semantic workspace search via docketeer-search plugin
  .pre-commit-config.yaml
  AGENTS.md
  docketeer-search/AGENTS.md
  docketeer-search/README.md
  docketeer-search/pyproject.toml
  docketeer-search/src/docketeer_search/__init__.py
  docketeer-search/src/docketeer_search/cli.py
  docketeer-search/src/docketeer_search/embedding.py
  docketeer-search/src/docketeer_search/index.py
  docketeer-search/src/docketeer_search/store.py
  docketeer-search/src/docketeer_search/tasks.py
  docketeer-search/src/docketeer_search/tools.py
  docketeer-search/tests/__init__.py
  docketeer-search/tests/conftest.py
  docketeer-search/tests/test_cli.py
  docketeer-search/tests/test_embedding.py
  docketeer-search/tests/test_index.py
  docketeer-search/tests/test_init.py
  docketeer-search/tests/test_store.py
  docketeer-search/tests/test_tasks.py
  docketeer-search/tests/test_tools.py
  docketeer/src/docketeer/dependencies.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/search.py
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/test_dependencies.py
  docketeer/tests/test_search.py
  pyproject.toml
  uv.lock
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Null object pattern for vault and executor plugins
  docketeer-anthropic/src/docketeer_anthropic/__init__.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_tools_oauth.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/executor.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/plugins.py
  docketeer/src/docketeer/tools/__init__.py
  docketeer/src/docketeer/tools/executor.py
  docketeer/src/docketeer/tools/vault.py
  docketeer/src/docketeer/vault.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/test_executor.py
  docketeer/tests/test_memory_vault.py
  docketeer/tests/test_plugins.py
  docketeer/tests/test_vault.py
  docketeer/tests/tools/test_executor.py
  docketeer/tests/tools/test_vault.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix search task dispatch — use short function names
  docketeer-search/src/docketeer_search/index.py
Due: loq, ty

Log search indexing at INFO instead of DEBUG
  docketeer-search/src/docketeer_search/tasks.py
Due: loq, ty

Remove redundant tools: read_skill_file and journal_search
  docketeer-agentskills/README.md
  docketeer-agentskills/src/docketeer_agentskills/tools.py
  docketeer-agentskills/tests/test_tools.py
  docketeer/README.md
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/tools/journal.py
  docketeer/tests/tools/test_journal.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

bubblewrap: include a default PATH in sandbox environment
  docketeer-bubblewrap/src/docketeer_bubblewrap/executor.py
  docketeer-bubblewrap/tests/test_claude_args.py
  docketeer-bubblewrap/tests/test_executor.py
Due: loq, ty

Accept dict arguments in use_mcp_tool
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_tools.py
Due: loq, ty

Add debug logging to stream_message for diagnosing missing tool calls
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
Due: loq, ty

Preserve assistant content in tool-call messages
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
Due: loq, ty

Remove overly defensive exception handlers
  docketeer-anthropic/src/docketeer_anthropic/api_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_backend.py
  docketeer-anthropic/src/docketeer_anthropic/claude_code_output.py
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_agentic_loop.py
  docketeer-anthropic/tests/test_api_backend.py
  docketeer-anthropic/tests/test_claude_code_backend.py
  docketeer-anthropic/tests/test_claude_code_output.py
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_serialize.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-mcp/src/docketeer_mcp/manager.py
  docketeer-mcp/src/docketeer_mcp/tasks.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_manager.py
  docketeer-mcp/tests/test_tasks.py
  docketeer-mcp/tests/test_tools.py
  docketeer-mcp/tests/test_tools_oauth_edge_cases.py
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/src/docketeer_rocketchat/room_context.py
  docketeer-rocketchat/tests/test_reconnect.py
  docketeer-rocketchat/tests/test_rest.py
  docketeer-rocketchat/tests/test_room_context.py
  docketeer-search/tests/test_index.py
  docketeer-web/src/docketeer_web/tools.py
  docketeer-web/tests/test_web_request.py
  docketeer/src/docketeer/brain/compaction.py
  docketeer/src/docketeer/brain/helpers.py
  docketeer/src/docketeer/prompt.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/test_prompt.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Use SDK stream accumulation instead of hand-rolled chunk parsing
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/conftest.py
  docketeer-deepinfra/tests/test_loop_agentic.py
  docketeer-deepinfra/tests/test_loop_stream.py
  docketeer-deepinfra/tests/test_loop_usage.py
Due: loq, ty

Strip API-response-only fields from Anthropic content block serialization
  docketeer-anthropic/src/docketeer_anthropic/loop.py
  docketeer-anthropic/tests/test_stream_message.py
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
Due: loq, ty

Explicitly set tool_choice="auto" in DeepInfra backend
  docketeer-deepinfra/src/docketeer_deepinfra/loop.py
  docketeer-deepinfra/tests/test_loop_stream.py
Due: loq, ty

Record outgoing messages in conversation history
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_messages.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/main/test_process_messages.py
  docketeer/tests/test_cross_room_messages.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Improve MCP tool docstrings for vault-backed secrets
  docketeer-mcp/src/docketeer_mcp/prompt.py
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_prompt.py
Due: loq, ty

Accept native types in add_mcp_server and use_mcp_tool
  docketeer-mcp/src/docketeer_mcp/tools.py
  docketeer-mcp/tests/test_tools.py
Due: loq, ty

Add edit_file tool with search-and-replace editing
  docketeer/src/docketeer/tools/workspace.py
  docketeer/tests/tools/test_file_ops.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix docketeer snapshot failing to find docket CLI
  docketeer/src/docketeer/main.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Use LLM to generate meaningful git backup commit messages
  docketeer-git/src/docketeer_git/backup.py
  docketeer-git/tests/test_backup.py
  docketeer/src/docketeer/dependencies.py
  docketeer/tests/test_dependencies.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Detect workspace changes across concurrent agent contexts
  docketeer/AGENTS.md
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/testing.py
  docketeer/src/docketeer/watcher.py
  docketeer/tests/brain/test_workspace_pulse.py
  docketeer/tests/conftest.py
  docketeer/tests/test_watcher.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Fix workspace pulse delivery and silence watchfiles noise
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/watcher.py
  docketeer/tests/brain/test_workspace_pulse.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Switch agent-visible timestamps to timezone-aware ISO 8601
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/prompt.py
  docketeer/src/docketeer/tools/journal.py
  docketeer/tests/brain/test_brain.py
  docketeer/tests/brain/test_build_content.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/brain/test_profile_loading.py
  docketeer/tests/test_prompt.py
  docketeer/tests/tools/test_journal.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Update README to reflect pluggable inference and missing packages
  README.md
Due: none

Rename model → tier in scheduling tools and give each task its own conversation
  docketeer/src/docketeer/brain/backend.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/cycles.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/tasks.py
  docketeer/tests/brain/test_helpers.py
  docketeer/tests/test_cycles.py
  docketeer/tests/test_model_threading.py
  docketeer/tests/test_tasks.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Guard scheduling tools against collisions with built-in task keys
  docketeer/src/docketeer/main.py
  docketeer/src/docketeer/scheduling.py
  docketeer/tests/main/conftest.py
  docketeer/tests/main/test_registration.py
  docketeer/tests/main/test_scheduling_tools.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Disable reasoning in utility completions on DeepInfra
  docketeer-deepinfra/src/docketeer_deepinfra/api_backend.py
  docketeer-deepinfra/tests/test_api_backend.py
Due: loq, ty

Nudge journal_add toward brief, single-line entries
  docketeer/src/docketeer/tools/journal.py
  docketeer/tests/tools/test_journal.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add room-level context files, mirroring the people/ pattern
  docketeer-rocketchat/src/docketeer_rocketchat/client.py
  docketeer-rocketchat/tests/test_room_slug.py
  docketeer-tui/src/docketeer_tui/client.py
  docketeer-tui/tests/test_client.py
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/chat.py
  docketeer/src/docketeer/handlers.py
  docketeer/src/docketeer/practice.md
  docketeer/src/docketeer/rooms.py
  docketeer/src/docketeer/testing.py
  docketeer/tests/brain/test_room_context_loading.py
  docketeer/tests/test_rooms.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Prepend profile/room context before summary after compaction
  docketeer/src/docketeer/brain/core.py
  docketeer/src/docketeer/brain/helpers.py
  docketeer/tests/brain/test_compaction_context.py
  docketeer/tests/brain/test_logging.py
Due: loq, ty, pytest-docketeer, pytest-docketeer-agentskills, pytest-docketeer-git, pytest-docketeer-monty, pytest-docketeer-web, pytest-docketeer-rocketchat

Add guardrails to practice.md template to prevent bloat
  docketeer/src/docketeer/practice.md
Due: none
